label[for="email-number"],
label[for="password"] {
  width: 100%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 11px;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
  }
}

label[for="email-number"] {
  &::before {
    background-image: url("../../images/person1.svg");
  }
}

label[for="password"] {
  &::before {
    background-image: url("../../images/key.svg");
  }
}
